<div *ngIf="filmDetail" class="max-w-5xl mx-auto p-6">
  <div class="flex space-x-6">
    <img
      [src]="filmDetail.Poster"
      alt="{{ filmDetail.Title }}"
      class="w-1/3 rounded-lg shadow-lg"
    />
    <div class="flex-1">
      <div class="flex items-center space-x-4">
      <h1 class="text-3xl font-bold">{{ filmDetail.Title }}</h1>
      
        <button
          class="text-red-500 focus:outline-none hover:scale-110 transition-transform"
          (click)="toggleFavorite(filmDetail)"
          [title]="isFavorite ? 'Remove from favorites' : 'Add to favorites'"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-8 h-8"
            [class.fill-red-500]="isFavorite"
            [class.fill-gray-300]="!isFavorite"
          >
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            />
          </svg>
        </button>
        <span id="favorite-text" class="ml-2 text-gray-700 text-sm">
          {{ isFavorite ? 'Added to Favorites' : 'Add to Favorites' }}
        </span>
      </div>
      <p class="text-yellow-500 text-lg my-2">{{ filmDetail.Genre }}</p>
      <p class="text-gray-700">{{ filmDetail.Plot }}</p>

      <div class="mt-4">
        <p><strong>Writers:</strong> {{ filmDetail.Writer }}</p>
        <p><strong>Stars:</strong> {{ filmDetail.Actors }}</p>
      </div>

      <div class="mt-4 flex space-x-6">
        <div>
          <strong>IMDb Rating:</strong>
          <p class="text-yellow-500 text-xl">{{ filmDetail.imdbRating }}</p>
        </div>
        <div>
          <strong>Popularity:</strong>
          <p class="text-gray-700">{{ filmDetail.imdbVotes }} votes</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!filmDetail" class="text-center py-10">
  <p>Loading...</p>
</div>
