<div class="w-full container mx-auto">
  <div
    class="flex justify-between items-center space-x-6 border border-gray-200 p-4"
  >
    <div>
      <h1 class="text-lg font-medium">Imdb Lite</h1>
    </div>
    <div class="flex items-center space-x-10">
      <ul class="flex space-x-4">
        <li><a routerLink="/" class=" hover:text-yellow-400">Home</a></li>
        <li><a [routerLink]="'/favorite'" class=" hover:text-yellow-400" (click)="favoritePage()">Favorite</a></li>
      </ul>

      <div class="relative w-full max-w-sm">
        <input
          type="text"
          [formControl]="searchName"
          placeholder="Search Film"
          class="w-full p-2 border border-gray-200 rounded pr-10"
        />
        @if (searchName.value) {
          <button
            (click)="deleteFilter()"
            class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-gray-600 focus:outline-none"
            aria-label="Clear Search"
          >
            ❌
          </button>

        }
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>